<%- include('../layout/adminHeader.ejs') %>

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Customer Details </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>Name</th>
                  <th>Joining Date</th>
                  <th>Email</th>
                  <th>Contact Number</th>
                 
                  <th>Status</th>
                </thead>
                <tbody>
                  <% userData.forEach(function(user) { %>
                    <tr>
                      <td>
                        <%= user.name %>
                      </td>
                      <td>
                        <%= user.createdAt.toDateString()%>
                      </td>
                      <td>
                        <%= user.email %>
                      </td>
                      <td>
                        <% if (user.address && user.address.length > 0) { %>
                          <%= user.address[0].mobile_num %>
                        <% } else { %>
                          Not added
                        <% } %>
                      </td>
                      <!-- <td>
                        <%if(!userData.is_blocked){%> Active
                          <%} else{%> Not Active <%}%>
                      </td> -->
                      <td>
                        <form id="blockForm_<%= user._id %>" class="block-form" data-user-id="<%= user._id %>"
                          action="/admin/customerProfile/<%= user._id %>/status/<%= user.is_blocked ? 'unblock' : 'block' %>"
                          method="POST">
                          <% if (user.is_blocked) { %>
                             <p class="ml-2">Not Active</p>
                            <button class="btn btn-danger" type="button"
                              onclick="confirmAction('<%= user._id %>', 'unblock')">Unblock</button>
                            <% } else { %>
                              <p>Active </p>
                              <button class="btn btn-success" type="button"
                                onclick="confirmAction('<%= user._id %>', 'block')">Block</button>
                              <% } %>
                        </form>
                      </td>
                    </tr>

                    <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  </div>
  </div>

  <style>
      
.card{
  margin-top: 100px;
}
    .userTable {
      width: 100%;
      height: 200px;
      padding: 15px;
    }

    table,
    th,
    td {
      border: 1px solid rgb(0, 48, 18);
      border-collapse: collapse;
    }
  </style>

  <!-- block/unblock -->
  <script>
    function confirmAction(userId, action) {
      if (confirm(`Are you sure you want to ${action} this user?`)) {
        submitBlockUnblockForm(userId, action);
      }
    }

    function submitBlockUnblockForm(userId, action) {
      const form = document.getElementById(`blockForm_${userId}`);
      form.action = `/admin/customerProfile/${userId}/status/${action}`;
      form.submit();
    }

  </script>


  <!--   Core JS Files   -->
  <script src="../adinAssets/js/core/jquery.min.js"></script>
  <script src="../adinAssets/js/core/popper.min.js"></script>
  <script src="../adinAssets/js/core/bootstrap.min.js"></script>
  <script src="../adinAssets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../adinAssets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../adinAssets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../adinAssets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="../adinAssets/demo/demo.js"></script>
  </body>

  </html>