<%- include('../layout/adminHeader.ejs') %>

<!-- Add these links to your head section -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8"
  src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>



  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Order Details </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table" id="orderTable">
                <thead class=" text-primary">
                  <th>Date</th>
                  <th>Order Id</th>
                  <th>Products</th>
                  <th>Customer email</th>
                  <th>Payment method</th>
                  <th>Status</th>
                  <th>Action</th>


                </thead>
                <tbody>
                  <% orderPlaced.forEach(order=> { %>
                    <tr>
                      <td>
                        <%= order.orderDate.toDateString() %>
                      </td>
                      <td>
                        <%= order.order_id %>
                      </td>
                      <td>
                        <% order.orderItems.forEach(orderItem=> { %>
                          <% if (orderItem.orderedWeight) { %>
                            <% orderItem.orderedWeight.forEach(pdt=> { %>
                              <%= pdt.name %>:
                                <% if (pdt.weight>= 1000) { %>
                                  <%= Math.floor(pdt.weight / 1000) %>kg
                                    <% let remainingGrams=pdt.weight % 1000; %>
                                      <% if (remainingGrams> 0) { %>
                                        <%= remainingGrams %>g
                                          <% } %><br>
                                            <% } else { %>
                                              <%= pdt.weight %>g <br>
                                                <% } %>

                                                  <% }); %>
                                                    <% } %>
                                                      <% }); %>

                      </td>
                      <td>
                        <%= order.user_id.email %>
                      </td>
                      <td>
                        <%= order.paymentMethod %>
                      </td>
                      <td id="orderStatus_<%= order._id %>">
                        <%= order.orderStatus %>
                      </td>
                      <!-- <td><a href="/admin/cancelOrder/<%= order._id %>">Cancel</a></td> -->
                      <td class="order">
                        <button class="cancelOrderBtn btn-small d-block btn btn-danger btn-fill-out btn-block hover-up"
                          data-order-id="<%= order._id %>" type="submit" onclick="confirmCancel()">Cancel
                          Order</button>
                          <form action="/admin/viewOrderDetails" method="GET" class="mb-3">
                          <input type="hidden" name="_id" value="<%= order._id %>">
                          <button type="submit" class="btn btn-primary">View Details</button>
                        </form>
                    
                      </td>
                    </tr>
                    <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>




  </div>
  </div>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }


    /* Style for table header */
    th {
      background-color: #1b0347;
      color: white;

    }

    /* Style for alternating rows */
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    .order button {
      margin-left: 0;
      padding: 8px;
      margin-top: 25px;
      color: rgb(255, 39, 39);
      background-color: #ffffff;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 12px;
    }
  </style>

  <script>
   $(document).ready(function () {
        $('#orderTable').DataTable({
          "bInfo": false  
        });
      });

    function confirmCancel() {
      if (confirm("Are you sure you want to cancel this order?")) {
        document.getElementById('deleteForm').submit();
      }
    }

    // Add event listener to all cancel order buttons
    document.querySelectorAll('.cancelOrderBtn').forEach(btn => {
      btn.addEventListener('click', async () => {
        const orderId = btn.dataset.orderId;
        console.log(orderId, 'orderId===========in OrderDetails')
        // Send a DELETE request to cancel the order
        try {
          const response = await fetch(`/admin/cancelOrder/${orderId}`,
            {
              method: 'DELETE',
            });
          console.log(response.ok, '=========response')

          if (response.ok) {
            // Update the UI to reflect the cancelled order
            const orderStatusCell = document.getElementById(`orderStatus_${orderId}`);
            orderStatusCell.textContent = 'Cancelled';

            btn.textContent = 'Order Cancelled' //chnage the buttn
            btn.disabled = true;

          } else {
            throw new Error('Failed to cancel order');
          }


        } catch (error) {
          console.error('Error cancelling order:', error);
          alert('Failed to cancel order. Please try again.');
        }
      });
    });

  </script>
  </body>

  </html>