<%- include('../layout/adminHeader.ejs') %>

  <!-- <% products.forEach(product => { %>
  <% product.images.forEach(imageUrl => { %>
      <img src="<%= imageUrl %>" alt="Product Image" style="width: 100px; height: 100px;">
  <% }) %>
<% }) %> -->

  <!-- Add these links to your head section -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>


  <body>
    <div class="content">
      <div class="row">
        <div class="col-md-12 ">
          <div class="card">

            <div class="card-header">
              <div class="row container m-5 ">
                <a href="/admin/findTop"  style="font-weight: bold;">Top Selling Products</a>
              </div>
            </div>

            <div class="card-body m-5">
              <div class="table-responsive">
                <table class="table" id="productTable">
                  <thead class=" text-primary" style="font-size: small;">
                    <th>Image</th>
                    <th> Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Stock</th>
                    <th>Offer %</th>
                    <th>Action</th>

                  </thead>
                  <tbody>
                    <% products.forEach(product=> { %>

                      <tr>
                        <td>
                          <% if (product.images && product.images.length> 0) { %>
                            <img src="<%= product.images[0].url %>" alt="Product Image"
                              class="img-fluid mx-auto d-block" style="width:200px; height: 200px;">
                            <% } else { %>
                              <p>No Image Available</p>
                              <% } %>
                        </td>
                        <td>
                          <%= product.productName %>
                        </td>
                        <td>
                          <%= product.category && product.category.name ? product.category.name : 'No category assigned'
                            %>
                        </td>
                        <td>
                          <%= product.totalQuantity %>kg
                        </td>
                        <td>
                          <% if (product.totalQuantity <=0) { %>
                            <p style="color: red;">Not in stock.
                            </p>
                            <!-- Quantity: <%= product.totalQuantity %> -->
                            <% } else { %>
                              <p>In Stock</p>
                              <% } %>
                        </td>
                        <td>
                          <%= product.offerPercentage %>%
                        </td>
                        <td>
                          <form action="/admin/viewSingleProduct" method="GET" class="mb-3">
                            <input type="hidden" name="_id" value="<%= product._id %>">
                            <button type="submit" class="btn btn-primary">View</button>
                          </form>
                          <form action="/admin/editProduct" method="GET" class="mb-3">
                            <input type="hidden" name="_id" value="<%= product._id %>">
                            <button type="submit" class="btn btn-primary">Edit</button>
                          </form>
                          <form action="/admin/deleteProduct" method="post" class="delete-form"
                            id="deleteForm-<%= product._id %>">
                            <input type="hidden" name="proId" value="<%= product._id %>" class="proId">
                            <button type="button" class="btn btn-primary delete-btn">Delete</button>
                          </form>
                        </td>
                      </tr>
                      <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <style>
      .card {
        margin-top: 100px;
      }

      th {
        font-size: 10px;
        font-weight: 0px;
      }


      th,
      td {
        margin-top: 30px;
        border: 1px solid rgb(0, 48, 18);
        border-collapse: collapse;
        text-align: center;
      }

      th {
        background-color: #0dce54ac;
        color: white;

      }

      .card button {
        margin-left: 0;
        padding: 20px;
        color: rgb(255, 39, 39);
        background-color: #ffffff;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 12px;
      }

      .card button:hover {
        opacity: 0.7;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function confirmDelete(form) {
        const productId = form.querySelector('.proId').value;
        console.log('Product ID to delete:', productId);

        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            form.submit();
          }
        });
      }

      $(document).ready(function () {
        $('#productTable').DataTable({
          "bInfo": false
        });

        // Add event listeners to each delete button
        const deleteButtons = document.querySelectorAll('.delete-btn');
        deleteButtons.forEach(btn => {
          btn.addEventListener('click', function () {
            const form = this.closest('form');
            confirmDelete(form);
          });
        });
      });
    </script>
  </body>

  <%- include('../layout/adminFooter.ejs') %>