<%- include('../layout/header.ejs') %>
    <!-- <%- include('../layout/cartAndwishlist.ejs') %> -->

        <!-- <%= cart.cartItems[0].productId.productName%>
  <%= existingAddress[0].address_customer_name %> -->
        <main class="main">


            <section class="mt-50 mb-50">
                <div class="container">
                    <div class="row">
                        <div class="row mb-15">
                            <div class="col-lg-6 mb-15">

                            </div>
                            <!-- coupon -->
                            <div class="col-lg-6 mb-15">
                                <div class="toggle_info">
                                    <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a
                                            coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed"
                                            aria-expanded="false">Click
                                            here to enter your code</a></span>
                                </div>
                                <div class="panel-collapse collapse coupon_form " id="coupon">
                                    <div class="panel-body">
                                        <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                        <form method="post">
                                            <div class="form-group">
                                                <input type="text" placeholder="Enter Coupon Code...">
                                            </div>
                                            <div class="form-group">
                                                <button class="btn  btn-md" name="login">Apply Coupon</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <h4 class="mb-25 ">Billing Details</h4>
                                <form method="post" action="/placeOrder" onsubmit="return validateForm()">
                                    <% existingAddress.forEach(address=> { %>
                                        <div class="address mt-5"
                                            style="background-color: #d2fcf4ad; color: #000000; font-size: larger;">
                                            <input type="radio" id="address_<%= address._id %>" name="shippingAddress"
                                                value="<%= address._id %>">
                                            <label for="address_<%= address._id %>">
                                                <ul>
                                                    <li>
                                                        <%= address.address_customer_name %>
                                                    </li>
                                                    <li>
                                                        <%= address.mobile_num %>
                                                    </li>
                                                    <li>house num:<%= address.house_num %>
                                                    </li>
                                                    <li>house name:<%= address.apartment_name %>
                                                    </li>
                                                    <li>
                                                        <%= address.city %>
                                                    </li>
                                                    <li>
                                                        <%= address.district %>
                                                    </li>
                                                </ul>
                                            </label>
                                        </div>
                                        <% }); %>
                                            <div>
                                                <p>Add another address? <a href="/addData">click here</a></p>
                                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="mb-25">Your Orders</h4>
                            <div class="order_review">
                                
                                <div class="mb-20">
                                  
                                </div>
                                <div class="table-responsive order_table text-center">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% cart.cartItems.forEach(item=> { %>
                                                <tr>
                                                    <td class="image product-thumbnail">
                                                        <img src="<%= item.productId.images[0].url %>"
                                                            alt="Product Image" class="img-fluid mx-auto d-block"
                                                            style="width:100%">
                                                    </td>
                                                    <td>
                                                        <h5><a href="">
                                                                <%= item.productId.productName %>
                                                            </a></h5>
                                                        <input type="hidden" value=" <%= item.productId.productName %>"
                                                            name="items">
                                                        <span class="product-qty">x <%= item.weight %>g</span>
                                                        <input type="hidden" value=" <%= item.weight %>" name="weight">
                                                    </td>
                                                    <td>
                                                        <%= item.subtotal %>
                                                            <input type="hidden" name="price"
                                                                value="  <%= item.subtotal %>">
                                                    </td>
                                                </tr>
                                                <!-- send product id to controller -->
                                                <input type="hidden" name="productId[]"
                                                    value="<%= item.productId._id %>">
                                                <% }); %>
                                                    <!-- Subtotal -->
                                                    <tr>
                                                        <th>SubTotal</th>
                                                        <td class="product-subtotal" colspan="2">₹ <%= cart.totalPrice
                                                                %>
                                                        </td>
                                                    </tr>

                                                    <!-- Shipping -->
                                                    <tr>
                                                        <th>Shipping</th>
                                                        <td colspan="2"><em>Free Shipping</em></td>
                                                    </tr>

                                                    <!-- Total -->
                                                    <tr>
                                                        <th>Total</th>
                                                        <td colspan="2" class="product-subtotal">
                                                            <span class="font-xl text-brand fw-900">₹ <%=
                                                                    cart.totalPrice %></span>
                                                            <input type="hidden" name="totalAmount"
                                                                value="<%=  cart.totalPrice %>">
                                                        </td>
                                                    </tr>
                                        </tbody>


                                    </table>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="payment_method">
                                    <div class="mb-25">
                                        <h5>Payment</h5>
                                    </div>
                                    <div class="paymentoption">
                                        <input type="radio" name="payment_option" id="cashOnDelivery" value="COD"
                                            class="mr-10 mt-2">
                                        <label for="cashOnDelivery"><strong>Cash On Delivery</strong> </label> <br>

                                        <input type="radio" name="payment_option" id="razorpay" value="razorpay"
                                            class="mr-10 mt-2">
                                        <label for="razorpay"> <strong> RazorPay</strong></label><br>

                                        <input type="radio" name="payment_option" id="paypal" value="payPal"
                                            class="mr-10 mt-2">
                                        <label for="paypal"><strong>PayPal</strong> </label>
                                    </div>
                                    <input type="hidden" name="selectedPaymentMethod" id="selectedPaymentMethod">
                                </div>
                                <button class="btn btn-fill-out btn-block mt-30 place-order-btn">Place Order</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </main>



        <style>
            .paymentoption input[type="radio"] {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: 16px;
                height: 16px;
                border: 2px solid #ccc;
                border-radius: 50%;
                outline: none;
                cursor: pointer;
                margin-right: 5px;

            }

            .paymentoption input[type="radio"]:checked {
                background-color: #007bff;
                border-color: #007bff;

            }

            .address {
                text-align: left;
                background-color: #f9f9f9;
                border: 1px solid #ffffff;
                padding: 20px;
                margin-bottom: 20px;
                border-radius: 5px;
            }


            .address input[type="radio"] {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: 16px;
                height: 16px;
                border: 2px solid #ccc;
                border-radius: 50%;
                outline: none;
                cursor: pointer;
                margin-right: 5px;
            }

            .address input[type="radio"]:checked {
                background-color: #007bff;
                border-color: #007bff;
            }

            /* Custom radio button label styles */
            .address label {
                display: inline-flex;
                align-items: center;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            function validateForm() {
                var selectedAddress = document.querySelector('input[name="shippingAddress"]:checked');
                if (!selectedAddress) {
                    alert("Please select a billing address.");
                    return false;
                }
                return true;
            }

            $(document).ready(function () {
                // Handle change event of the payment method radio buttons
                $('input[name="payment_option"]').change(function () {
                    const selectedPaymentMethod = $('input[name="payment_option"]:checked').val();

                    //update hidden input value
                    $('#selectedPaymentMethod').val(selectedPaymentMethod);

                    if (selectedPaymentMethod) {
                        // Enable the "Place Order" button
                        $('.place-order-btn').prop('disabled', false);
                    } else {
                        // If no payment method is selected, disable the "Place Order" button
                        $('.place-order-btn').prop('disabled', true);
                    }
                });
            });

        </script>

<%- include('../layout/footer.ejs') %>
