<%- include('../layout/header.ejs') %>
    <%- include('../layout/cartAndwishlist.ejs') %>

    <div class="row pdt-view-card  mt-5 mb-5">
        <% products.forEach(product=> { %>
         
          <div class="col-md-3 col-sm-4 mb-3 ml-5">
            <div class="card">
              <div class="card-img-top" style="height: 300px; overflow: hidden;">
                <% product.images.forEach(imageUrl => { %>
                  <img src="<%= imageUrl %>" alt="Product Image" class="img-fluid mx-auto d-block" alt="Product Image"
                  style="width:100%">
              <% }) %>
                
              </div>
              <div class="card-body" style="height: 250px; padding: 2px;">
                <h5 class="card-title">
                  <%= product.productName %>
                </h5>
                <p class="card-text">Category: <%= product.category.name %>
                </p>
                <p class="card-text">Quantity: <%= product.totalQuantity %>kg
                </p>
                <p class="card-text">Total: ₹<%= product.totalPrice %>
                </p>
                <p class="card-text">Offer Percentage: <%= product.offerPercentage %>%
                </p>
                <p class="card-text">Offer Price: ₹<%= product.offerPrice %>
                </p>
                <p class="card-text">Description <%= product.description %>
                </p>
              </div>
              <div class="card-footer">
                <form action="/admin/editProduct" method="GET" class="mb-3">
                  <input type="hidden" name="_id" value="<%= product._id %>">
                  <button type="submit" class="btn btn-primary">Edit</button>
                </form>
                <form action="/admin/viewProducts/<%= product._id %>/deleteProduct" method="post">
                  <input type="hidden" name="_id" value="<%= product._id %>">
                  <button type="submit" class="btn btn-primary">Delete</button>
                </form>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    
      <style>
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 300px;
          margin: auto;
          text-align: center;
          font-family: arial;
        }
    
        .price {
          color: grey;
          font-size: 22px;
        }
    
        .card button {
          border: none;
          outline: 0;
          padding: 12px;
          color: white;
          background-color: #000;
          text-align: center;
          cursor: pointer;
          width: 100%;
          font-size: 18px;
        }
    
        .card button:hover {
          opacity: 0.7;
        }
      </style>



 <%- include('../layout/footer.ejs') %>