<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<%- include('../layout/header.ejs') %>
    <body class="">
        <div class="mobile-header-active mobile-header-wrapper-style">
            <div class="mobile-header-wrapper-inner">
                <div class="mobile-header-top">

                </div>

            </div>
        </div>
        <main class="main">
            <section class="home-slider position-relative pt-50" style="margin-bottom: 80px;" >
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                 
                        <div class="carousel-item active" style="height: 400px;">
                            <img class="d-block w-100" src="assets/imgs/slider/slider-1.png" alt="">
                        </div>
                     
                     
                        <div class="carousel-item" style="height: 400px;">
                            <img class="d-block w-100" src="assets/imgs/slider/slider14.jpg" alt="">
                        </div>
                    
                    
                        <div class="carousel-item"  style="height: 400px;">
                            <img class="d-block w-100" src="assets/imgs/slider/slider12.jpg" alt="">
                        </div>
                     
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                
            </section>

            <% if(typeof successMessage !='undefined' ){ %>
                <p style="color: green;">
                    <%= successMessage %>
                </p>
                <% } %>
            <% Object.keys(categorizedProducts).forEach(category=> { %>
                <section class="product-tabs section-padding position-relative wow fadeIn animated product">
                    <div class="bg-square"></div>
                    <div class="container">
                        <div class="tab-header">
                          
                        </div>
                        <!--End nav-tabs-->
                        <div class="tab-content wow fadeIn animated" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                aria-labelledby="tab-one">
                                <h3 class="m-4">
                                    <%= category %>
                                </h3>
                                <div class="row product-grid-4">
                                    <% categorizedProducts[category].forEach(product=> { %>
                                        <div class="col-lg-3 col-sm-6">
                                            <div class="product-cart-wrap mb-30">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="">

                                                            <img src="<%= product.images[0].url %>" alt="Product Image"
                                                                class="img-fluid mx-auto d-block" alt="Product Image"
                                                                style="width:100%">

                                                        </a>
                                                    </div>

                                                </div>
                                                <div class="product-content-wrap">
                                                    <div class="product-category">
                                                        <a href="shop-grid-right.html">
                                                            <%= product.category.name %>
                                                        </a>
                                                    </div>
                                                    <h2><a href="shop-product-right.html">
                                                            <%= product.productName %>
                                                        </a>
                                                    </h2>
                                                    <div class="product-price">
                                                        <% if(product.totalQuantity <=0 ) {%>
                                                            <p style="color: red; font-size: small;">Out Of Stock </p>
                                                            <% }%>
                                                                <select name="selectedProduct"
                                                                    style="font-size: larger;">
                                                                    <% product.weightOptions.forEach(option=> { %>
                                                                        <option style="font-size: large;"
                                                                            value="<%= option.weight %><%= option.weightPrice.toFixed(2) %>,<%= option.priceAfterDiscount %>">
                                                                            <%= option.weight %>g :
                                                                                <% if (product.offerPercentage !==0) {
                                                                                    %>
                                                                                    <strong>
                                                                                        <p>on offer</p>
                                                                                    </strong>
                                                                                    ₹ <%=
                                                                                        option.priceAfterDiscount.toFixed(2)
                                                                                        %>
                                                                                        <!-- <del>₹<%= option.weightPrice.toFixed(2) %></del> -->
                                                                                        <% } else { %>
                                                                                            ₹<%= option.weightPrice.toFixed(2)
                                                                                                %>
                                                                                                <% } %>
                                                                        </option>
                                                                        <% }) %>
                                                                </select>
                                                    </div>
                                                    <div class="buy-btn">
                                                        <form action="/viewProduct" method="GET">
                                                            <input type="hidden" value="<%=product._id %>"
                                                                name="productId">
                                                            <button>Details</button>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                </div>
                                <!--End product-grid-4-->
                            </div>

                            <!--End tab-content-->
                        </div>
                </section>
                <% }); %>


                    <style>
                        .product-grid-4 {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            /* Distribute items evenly along the main axis */
                        }

                        .product-cart-wrap {
                            width: 100%;
                            /* Adjust the width to fit four columns in a row */
                            margin-bottom: 30px;
                            /* Add margin to create space between products */
                        }

                        @media (max-width: 991px) {
                            .product-cart-wrap {
                                width: 30%;
                                /* Adjust the width for smaller screens */
                            }
                        }

                        @media (max-width: 767px) {
                            .product-cart-wrap {
                                width: 48%;
                                /* Adjust the width for even smaller screens */
                            }
                        }

                        .product {
                            background-color: #fff;
                        }

                        .buy-btn {
                            margin-left: 70%;
                            margin-top: 5px;
                        }

                        .buy-btn button {
                            cursor: pointer;
                            padding: 10px 20px;
                            border: 1px solid #046963;
                            background: #046963;
                            color: #fff;
                            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
                                0 15px 12px rgba(0, 0, 0, 0.22);
                            border-radius: 25px;
                        }
                    </style>
        </main>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
    </body>


    <%- include('../layout/footer.ejs') %>