<%- include('../layout/header.ejs') %>

    <head>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>

    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-3"  >

                            <div class="dashboard-menu">
                                <ul class="nav flex-column " role="tablist">
                                    <li class="nav-item">
                                        <form action="/myProfile" method="GET">
                                            <button type="submit" 
                                                style="background-color: #ffffff; color: #000000; border: none;  cursor: pointer; width: 100%;">My
                                                Profile</button>
                                        </form>
                                      
                                    </li>
                                   
                                    <li class="nav-item">
                                        <form action="/order" method="GET">
                                            <button type="submit" 
                                                style="background-color: #01524c; color: #ffffff; border: none;  cursor: pointer; width: 100%;">Orders</button>
                                        </form>
                                        
                                    </li>
                                    <li class="nav-item">
                                        <form action="/wallet" method="GET">
                                            <button type="submit"
                                                style="background-color: #ffffff; color: #000000; border: none;  cursor: pointer; width: 100%;">Wallet</button>
                                        </form>
                                       
                                    </li>
                                    <li class="nav-item">
                                        <form action="/userProfile" method="GET">
                                            <button type="submit"
                                                style="background-color: #ffffff; color: #000000; border: none;  cursor: pointer; width: 100%;">My
                                                Address</button>
                                        </form>
                                      
                                    </li>
                                    
                                    <li class="nav-item">
                                        <form action="/changePassword" method="GET">
                                            <button type="submit"
                                                style="background-color: #ffffff; color: #000000; border: none;  cursor: pointer; width: 100%;">Change
                                                Password</button>
                                        </form>
                                        
                                    </li>
                                    <!-- <li class="nav-item">
                                    <a class="nav-link" href="/logout"><i
                                            class="fi-rs-sign-out mr-10"></i>Logout</a>

                                </li> -->
                                </ul>
                            </div>
                        </div>
                        <!-- //order deatils -->
                        <div class="col-md-9">
                            <div class="tab-content dashboard-content">

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0" style="text-align: center; font-size: large; ">Your Orders</h5>
                                    </div>
                                    <div class="card">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Order</th>
                                                        <th>Date</th>
                                                        <th>Name</th>
                                                        <th>Weight</th>
                                                        <th>Status</th>
                                                        <th>Total</th>
                                                        <th>Payment Method</th>
                                                        <th>Order Address</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% orderPlaced.forEach(order=> { %>
                                                        <tr id="orderRow_<%= order._id %>">
                                                            <td>
                                                                <%= order.order_id %>
                                                            </td>
                                                            <td>
                                                                <%= order.orderDate.toDateString() %>
                                                            </td>
                                                            <td>
                                                                <!-- Product Names -->
                                                                <% order.orderItems.forEach(orderItem=> { %>
                                                                    <% if (orderItem.orderedWeight) { %>
                                                                        <% orderItem.orderedWeight.forEach(pdt=> { %>
                                                                            <%= pdt.name %><br>
                                                                                <% }); %>
                                                                                    <% } %>
                                                                                        <% }); %>
                                                            </td>
                                                            <td>
                                                                <!-- Corresponding Weights -->
                                                                <% order.orderItems.forEach(orderItem=> { %>
                                                                    <% if (orderItem.orderedWeight) { %>
                                                                        <% orderItem.orderedWeight.forEach(pdt=> { %>
                                                                            <% if (pdt.weight>= 1000) { %>
                                                                                <%= Math.floor(pdt.weight / 1000) %> kg
                                                                                    <% let remainingGrams=pdt.weight %
                                                                                        1000; %>
                                                                                        <% if (remainingGrams> 0) { %>
                                                                                            <%= remainingGrams %>g
                                                                                                <% } %>
                                                                                                    <% } else { %>
                                                                                                        <%= pdt.weight
                                                                                                            %>g
                                                                                                            <% } %><br>
                                                                                                                <% });
                                                                                                                    %>
                                                                                                                    <% }
                                                                                                                        %>
                                                                                                                        <% });
                                                                                                                            %>
                                                            </td>
                                                            <td id="orderStatus_<%= order._id %>">
                                                                <%= order.orderStatus %>
                                                            </td>
                                                            <td>₹<%= order.finalPrice %>
                                                            </td>
                                                            <td>
                                                                <% if (order.paymentMethod==='razorpay' ) { %>
                                                                    <p style="font-size: small;">Online</p>
                                                                    <% }else if(order.paymentMethod==='Wallet' ) { %>
                                                                        <p style="font-size: small;">Wallet</p>
                                                                        <% }else if(order.paymentMethod==='COD' ) { %>
                                                                            <p style="font-size: small;">COD</p>
                                                                            <% } %>
                                                            </td>

                                                            <td>
                                                                <%= order.shippingAddress.address_customer_name %> <br>
                                                                    <%= order.shippingAddress.mobile_num %> <br>
                                                                        <%= order.shippingAddress.apartment_name %> <br>
                                                                            <%= order.shippingAddress.city %>

                                                            </td>
                                                            <td class="form-group">
                                                                <button
                                                                    class="cancelOrderBtn btn-small d-block btn btn-fill-out btn-block hover-up"
                                                                    data-order-id="<%= order._id %>" type="button"
                                                                    <%=order.orderStatus==='Cancelled' ? 'disabled' : ''
                                                                    %>
                                                                    onclick="confirmCancel(this)">
                                                                    <%= order.orderStatus==='Cancelled'
                                                                        ? 'Order Cancelled' : 'Cancel Order' %>
                                                                </button>
                                                                <%if(order.orderStatus==='Cancelled'){%>

                                                                    <% } else{%>
                                                                        <form action="/viewOrderDetails" method="GET">
                                                                            <input type="hidden"
                                                                                value="<%= order._id %>" name="orderId">
                                                                            <button class="btn btn-small"
                                                                                style="margin-top: 4px; background-color: white; color: rgb(0, 0, 0); border: 0;">View</button>
                                                                        </form>

                                                                        <% }%>

                                                                        <% if (order.orderStatus === 'Confirmed' && order.paymentMethod !== 'COD') { %>
                                                                            
                                                                            <form action="/return_product" method="GET">
                                                                                <input type="hidden"
                                                                                value="<%= order.order_id %>" name="orderId">
                                                                                <input type="hidden"
                                                                                value="<%= order._id %>" name="orderDbId">
                                                                                <button style="margin-top: 4px; background-color: white; color: rgb(255, 0, 0); border: 0;">Return</button>
                                                                            </form>
                                                                            
                                                                        <% } %>
                                                                        

                                                                                    <% if (order.orderStatus==='Failed'
                                                                                        ) { %>
                                                                                        <button type="button"
                                                                                            class="btn btn-small"
                                                                                            style="background-color: rgb(252, 230, 230); color: red; border: 0; font-weight: bolder;"
                                                                                            onclick="retryPayment('<%= order._id %>', '<%= order.finalPrice %>')">PAY</button>
                                                                                        <% } %>

                                                            </td>
                                                        </tr>
                                                        <% }); %>
                                                </tbody>

                                            </table>
                                        </div>
                                        <!-- Pagination -->
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <% if (currentPage> 1) { %>
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page=<%= currentPage - 1 %>"
                                                            aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                    </li>
                                                    <% } %>

                                                        <% for (let i=1; i <=totalPages; i++) { %>
                                                            <li
                                                                class="page-item <%= i === currentPage ? 'active' : '' %>">
                                                                <a class="page-link" href="?page=<%= i %>">
                                                                    <%= i %>
                                                                </a>
                                                            </li>
                                                            <% } %>

                                                                <% if (currentPage < totalPages) { %>
                                                                    <li class="page-item">
                                                                        <a class="page-link"
                                                                            href="?page=<%= currentPage + 1 %>"
                                                                            aria-label="Next">
                                                                            <span aria-hidden="true">&raquo;</span>
                                                                        </a>
                                                                    </li>
                                                                    <% } %>
                                            </ul>
                                        </nav>
                                        <!-- End Pagination -->
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <script>
        function confirmCancel(button) {
            if (confirm("Are you sure you want to cancel this order?")) {
                const orderId = button.getAttribute('data-order-id');

                // Send a DELETE request to cancel the order
                fetch(`/cancelOrder/${orderId}`, {
                    method: 'DELETE',
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to cancel order');
                        }

                        // Update the UI to reflect the cancelled order
                        const orderStatusCell = document.getElementById(`orderStatus_${orderId}`);
                        orderStatusCell.textContent = 'Cancelled';

                        button.textContent = 'Order Cancelled'; // Change the button text
                        button.disabled = true;
                    })
                    .catch(error => {
                        console.error('Error cancelling order:', error);
                        alert('Failed to cancel order. Please try again.');
                    });
            }
        }

        // Add event listener to all cancel order buttons
        document.querySelectorAll('.cancelOrderBtn').forEach(btn => {
            btn.addEventListener('click', () => confirmCancel(btn));
        });


        function retryPayment(orderId, finalPrice) {
            fetch('/retryPayment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    orderId,
                    finalPrice,
                }),
            })
                .then(response => response.json()) // Parse the JSON response here
                .then(data => {
                    if (data.success) {
                        const options = {
                            "key": "rzp_test_UwQd6G9xYlg4El",
                            "amount": data.order.amount,
                            "currency": "INR",
                            "name": "Go-Easy Shopping",
                            "description": "Test Transaction",
                            "image": "https://example.com/your_logo",
                            "order_id": data.order.id,
                            "handler": function (response) {
                                console.log('response:==========in handler ', response);
                                verifyPayment(response, orderId);
                                console.log("after invoking verify");
                            },
                            "prefill": {
                                "name": "Gaurav Kumar",
                                "email": "gaurav.kumar@example.com",
                                "contact": "9000090000"
                            },
                            "notes": {
                                "address": "Razorpay Corporate Office"
                            },
                            "theme": {
                                "color": "#3399cc"
                            }
                        };
                        const rzp = new Razorpay(options);
                        rzp.open();

                        rzp.on("payment.failed", function (response) {
                            alert('Payment Failed, please try again on the order page');
                            console.log('Payment failed:', response);
                            fetch('/paymentFailed', {
                                method: 'post',
                                headers: {
                                    "Content-Type": "application/json"
                                },
                                body: JSON.stringify({
                                    orderId,
                                    reason: response.error.description
                                })
                            }).then(response => response.json())
                                .then(data => {
                                    if (data.success) {
                                        console.log('Order status updated to Failed');
                                        window.location.href = '/order';
                                    } else {
                                        console.error('Failed to update order status:', data.error);
                                    }
                                });
                        });
                    } else {
                        alert('Failed to initiate payment. Please try again.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Failed to initiate payment. Please try again.');
                });
        }

        function verifyPayment(response, orderId) {
            fetch('/verifyPaymentRetry', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    paymentid: response.razorpay_payment_id,
                    razorpayorderid: response.razorpay_order_id,
                    signature: response.razorpay_signature,
                    orderId
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Sucessfully completed the payment.');
                        window.location.reload(); // Reload the page
                    } else {
                        console.error('Payment verification failed:', data.error);
                        alert('Payment verification failed. Please try again later.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Payment verification failed. Please try again later.');
                });
        }



    </script>

    </html>

    <%- include('../layout/footer.ejs') %>