<%- include('../layout/header.ejs') %>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Account
                </div>
            </div>
        </div>

        <%- include('../layout/cartAndwishlist.ejs') %>


            <section class="pt-150 pb-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 m-auto">
                            <div class="row">
                                <div class="col-md-4">

                                    <div class="dashboard-menu">
                                        <ul class="nav flex-column" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link " id="dashboard-tab" data-bs-toggle="tab"
                                                    href="/myProfile" role="tab" aria-controls="dashboard"
                                                    aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>My
                                                    Profile</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link " id="dashboard-tab" data-bs-toggle="tab"
                                                    href="#dashboard" role="tab" aria-controls="dashboard"
                                                    aria-selected="false"><i
                                                        class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="/order"
                                                    role="tab" aria-controls="orders" aria-selected="false"><i
                                                        class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab"
                                                    href="/order" role="tab" aria-controls="track-orders"
                                                    aria-selected="false"><i
                                                        class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link  active" id="address-tab" data-bs-toggle="tab"
                                                    href="/userProfile" role="tab" aria-controls="address"
                                                    aria-selected="true"><i class="fi-rs-marker mr-10"></i>My
                                                    Address</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                                    href="#account-detail" role="tab" aria-controls="account-detail"
                                                    aria-selected="true"><i class="fi-rs-user mr-10"></i>Account
                                                    details</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="change-password-tab" data-bs-toggle="tab"
                                                    href="/changePassword" role="tab" aria-controls="change-password"
                                                    aria-selected="true"><i class="fi-rs-user mr-10"></i>Change
                                                    Password</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/logout"><i
                                                        class="fi-rs-sign-out mr-10"></i>Logout</a>

                                            </li>
                                        </ul>
                                    </div>
                                </div>


                                <div class="col-md-8">
                                    <div class="col-lg-6">
                                        <div class="card mb-3 mb-lg-0">
                                            <div class="card-header">
                                                <a href="/addData">Add Address</a>
                                                <h5 class="mb-0">Billing Address</h5>
                                            </div>
                                            <div class="card-body">

                                                <!-- <form action="/addData" class="btn-small" method="get">
                        <button class="btn btn-fill-out btn-block hover-up mb-2 ">Add Address</button>
                       </form>  -->
                                                <% if (userData) { %>
                                                    <div>
                                                        <%= userData.user_image %>
                                                    </div>

                                                    <div class="card-body">
                                                        <% userData.address.forEach((address, index)=> { %>
                                                            <div class="address">
                                                                <strong>
                                                                    <%= address.address_type %>
                                                                </strong>
                                                                <p>
                                                                <p>Name: <%= address.address_customer_name %>
                                                                </p>
                                                                <p>Email: <%= userData.email %>
                                                                </p>
                                                                <p>Mobile Number: <%= address.mobile_num %>
                                                                </p>
                                                                <address>
                                                                    <%= address.house_num %><br>
                                                                        <%= address.apartment_name %>,<br>
                                                                            <%= address.city %> <br>
                                                                                <%= address.district %><br>
                                                                                  pincode:  <%= address.pincode %>
                                                                </address>
                                                                <div class="buttons mt-2">
                                                                    <!-- <form action="/editAddress/:index" method="put">
                                                                    <button type="submit" class="btn btn-primary mb-2">Edit</button>
                                                                </form> -->
                                                                    <a href="/editAddress/<%= index %>">Edit</a> <br>
                                                                    <a href="/delete/<%= index %>" onclick="return confirm('Are you sure you want to delete this address?');">Delete</a>

                                                                    <!-- <form id="deleteForm_<%= address._id %>"
                                                                        action="/addData/<%= userData._id %>/deleteAddress/<%= address._id %>"
                                                                        method="post">

                                                                        <input type="hidden" name="addressId"
                                                                            value="<%= address._id %>">
                                                                        <button type="button"
                                                                            onclick="confirmDelete('<%= address._id %>')"
                                                                            class="btn btn-danger">Delete</button>
                                                                    </form> -->

                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <% }); %>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </main>
    </div>
    </section>

    </body>

    <%- include('../layout/footer.ejs') %>