<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->

<head>
    <meta charset="utf-8">
    <title>GoEasy-Grocery-Website</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <!--<link rel="stylesheet" href="public/assets/css/main.css">-->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- <meta name="google-signin-client_id" content="556258179414-nhdprcpdb2dsrrip351kqn3ma6e92r2d.apps.googleusercontent.com.apps.googleusercontent.com"> -->

</head>

<body>
    <header class="header-area header-style-5" style="background-color: #ffffff4f; margin-bottom: 30px; ">
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="col-12">
                    <div class="row">
                        <div class="col-8">
                            <div class="header-wrap header-space-between position-relative">
                                <div class="logo logo-width-1">
                                    <a href='/home'><img src="/assets/imgs/theme/Easy.svg" alt="logo"></a>
                                </div>
                                <div
                                    class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                                    <nav>
                                        <ul>
                                            <li><a class="active" href="/home" style="font-size: large;">Home <i
                                                        class="fi-rs-angle-down"></i></a>

                                            </li>
                                            <li><a class="active" href="/allProducts" style="font-size: large;">All
                                                    Products <i class="fi-rs-angle-down"></i></a>

                                            </li>
                                            <li class="position-static"><a href="" style="font-size: large;">Category <i
                                                        class="fi-rs-angle-down"></i></a>
                                                <ul class="mega-menu">
                                                    <% categories.forEach(category=> { %>
                                                        <li><a href="/categories/<%= category._id %>"
                                                                style="font-size: large;">
                                                                <%= category.name %>
                                                            </a></li><br>
                                                        <% }); %>
                                                </ul>
                                            </li>
                                            <li class="position-static"><a href="" style="font-size: large;">Products <i
                                                        class="fi-rs-angle-down"></i></a>
                                                <ul class="mega-menu">
                                                    <% products.forEach(product=> { %>
                                                        <li><a href="/products/<%= product._id %>"
                                                                style="font-size: large;">
                                                                <%= product.productName %>
                                                            </a></li><br>
                                                        <% }); %>
                                                </ul>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-action-right">

                                    <div class="header-action-2">
                                        <div class="header-action-icon-2">
                                            <a href="/wishlistProducts">
                                                <img class="svgInject" alt="GoEAsy"
                                                    src="/assets/imgs/theme/icons/icon-heart.svg">
                                                <!-- <span class="pro-count blue"></span> -->
                                            </a>
                                        </div>
                                        <div class="header-action-icon-2">
                                            <a class="mini-cart-icon" href="/viewCartItems"> <span
                                                    id="cartCount"></span>
                                                <p class="pro-count "><img alt="GoEAsy"
                                                        src="/assets/imgs/theme/icons/icon-cart.svg">
                                                </p>
                                            </a>
                                            <!-- <a class="mini-cart-icon" href="">
                                         <img alt="GoEAsy" src="/assets/imgs/theme/icons/icon-cart.svg"> 
                                        <p class="pro-count ">basket</p>
                                         <span class="pro-count "></span> 
                                    </a>-->
                                            <!-- <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                            <ul id="cart-items-list">
                                              Cart items will be dynamically generated here
                                            </ul>
                                            <div class="shopping-cart-footer">
                                                <div class="shopping-cart-total">
                                                    <h4>Total <span id="total-price">$0.00</span></h4>
                                                </div>
                                                <div class="shopping-cart-button">
                                                    <a href="">View cart</a>
                                                    <a href="/checkOut">Checkout</a>
                                                </div>
                                            </div>
                                        </div> -->

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="header-action-right">
                                <% if (user_id) { %>
                                    <div class="welcome-logout-container">
                                        <div class="pr-5" style="font-size: 18px;">Welcome, <a href="/myProfile">
                                                <%= user_name %>!
                                            </a></div>
                                        <form action="/logout" method="POST">
                                            <button type="submit" class="pl-2"
                                                style="background-color: #ffffff; color: #000000; border: none; padding: 10px 20px; cursor: pointer; border-radius: 5px; font-size: 18px;">Logout</button>
                                        </form>
                                    </div>
                                    <% } else { %>
                                        <div class="row">
                                            <div class="form">
                                                 <a href="/login">Login/</a>
                                            <div class="form">
                                                  <a href="/register">Register</a>
                                            </div>
                                        </div>
                                        <% } %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <style>
        .welcome-logout-container {
            display: flex;
            align-items: center;
            margin-top: 50px;
        }

        .row {
            display: flex;
            justify-content: center;
            /* Horizontally center the forms */
            align-items: center;
            /* Vertically center the forms */
        }

        .form {
            margin: 0 0px;
        }

       
    </style>
</body>